[submodule "qemu/gui-agent"]
	path = qemu/gui-agent
	url = https://github.com/QubesOS/qubes-gui-agent-xen-hvm-stubdom
[submodule "pulseaudio/gui-agent"]
	path = pulseaudio/gui-agent
	url = https://github.com/QubesOS/qubes-gui-agent-linux
